*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  
    
}
/* ===============================THIS IS THE START OF THE HEADER SECTION=================================================*/
.header{
   min-height:100vh;
    width:100%;
    background:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("images/banner.png");
    background-position: center;
    background-size: cover;
    position: relative;
   
}
nav{
    display: flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
}
.nav-links{
    flex:1;
  text-align:right;
  
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 15px ;
    position: relative;
}
.nav-links ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content:'';
    width: 0;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition-duration: 0.5s;
    
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color:#fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color:#fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
   border:1px solid #f44336;
   background-color: #f44336;
   transition-duration: 1s;

}
nav .fa-solid{
    display: none;
}
 

/*==================================== THIS IS THE START OF THE COURSE SECTION============================================*/
.course{
    width: 80%;
    margin: auto;
    text-align:center;
    padding-top: 100px;

}
.course h1{
    font-size: 36px;
    font-weight: 600;
}
.course p{
    color:#777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}
.course-col{
    flex-basis: 31%;
    background-color: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition-duration: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}


/*======================================== THIS IS THE START OF THE CAMPUS SECTION======================================*/

.campus{
    width:80%;
    margin: auto;
    text-align:center;
    padding-top: 50px;


}
.campus-col{
    flex-basis: 32%;
    border-radius:10px;
    margin-bottom: 30px;
    position: relative;
}
.campus-col img{
    width: 100%;
    display: block;
}
.layer{
  background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
   transition: 0.7s;
}
.layer:hover{
    background-color: rgba(226, 0, 0, 0.7);

}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26Px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity:0;
    transition-duration:0.5s ;
    
}
.layer:hover h3{
    bottom: 49%;
    opacity:1;
}

/*================================ THIS IS THE START OF THE FACILITIES SECTION=========================================*/


.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    
}
.facilities-col{
    flex-basis: 31%;
    border-radius:10px;
    margin-bottom:5%;
    text-align: left;
}
.facilities-col img{
    width:100%;
    height: 70%;
    border-radius: 10px;
}
.facilities-col p{
    padding: 0;
}
.facilities-col h3{
    margin-top:16px;
    margin-bottom:15px;
    text-align: left;
}

/*================================ THIS IS THE START OF THE TESTIMONIALS SECTION====================================*/

.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;

}
.testimonials-col{
    flex-basis:44%;
    border-radius:10px;
    margin-bottom:5%;
    text-align: left;
    background-color: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;

}
.testimonials-col img{
    height: 40px;
    margin-left:5px;
    margin-right: 30px;
    border-radius:50%;

}

.testimonials-col p{
    padding: 0;
    text-align:justify;

}
.testimonials-col h3{
    margin-top: 15px;
    text-align: left;
}
.testimonials-col .fa-solid{
    color:#f44336;
}
.testimonials-col .fa-regular{
    color:#f44336;
}


/*=============================== THIS IS THE START OF THE CALL TO ACTION SECTION=======================================*/
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner2.jpg);
     background-position: center;
     background-size: cover;
    border-radius:10px;
    text-align: center;
    padding:100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding:0;
}


/*=========================== THIS IS THE START OF THE CALL TO ACTION SECTION=====================================*/
.footer{
    width: 100%;
    text-align:center;
    padding:30px 0;
}
.footer h4{
    margin-bottom:25px ;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa-brands{
    color:#f44336;
    margin: 0 13px;
    cursor: pointer;
    padding:18px 0;
}
p .fa-copyright{
    margin-top:10px;
    color: #f44336;
}
/*======================================== THIS IS THE START OF THE resposnive  SECTION======================================*/


@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: inline-block;
      
    }
    .nav-links{
  
        position:absolute;
        background-color: #f44336;
        height:100vh;
        width:200px;
        right:-200px;
        top:0;
        text-align:left;
        z-index:2;
        transition-duration: 0.7s;
    }
    nav .fa-solid{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor:pointer;
    }
    .nav-links ul{
    padding: 30px;
    }  
    .cta h1{
        font-size: 20px; 
    }
    .testimonials-col img{  
        margin-left:0px;
        margin-right: 15px; 
    }
    .row{
        flex-direction: column;
    }


}